@using Web_FPT.Models
@model List<SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="mySlides" class="carousel slide" data-ride="carousel" translate="yes">
    <ol class="carousel-indicators">
        <li data-target="#mySlides" data-slide-to="0" class="active"></li>
        <li data-target="#mySlides" data-slide-to="1"></li>
        <li data-target="#mySlides" data-slide-to="2"></li>
        <li data-target="#mySlides" data-slide-to="3"></li>
        <li data-target="#mySlides" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" id="slide1">
            <img class="d-block w-100" src="~/Content/Img_Show/QC.PNG/QC1.png" width="100%" height="350px" alt="First slide">
        </div>
        <div class="carousel-item" id="slide2">
            <img class="d-block w-100" src="~/Content/Img_Show/QC.PNG/QC2.png" width="100%" height="350px" alt="Second slide">
        </div>
        <div class="carousel-item" id="slide3">
            <img class="d-block w-100" src="~/Content/Img_Show/QC.PNG/QC3.png" width="100%" height="350px" alt="Third slide">
        </div>
        <div class="carousel-item" id="slide4">
            <img class="d-block w-100" src="~/Content/Img_Show/QC.PNG/QC4.png" width="100%" height="350px" alt="Four slide">
        </div>
        <div class="carousel-item" id="slide5">
            <img class="d-block w-100" src="~/Content/Img_Show/QC.PNG/QC5.png" width="100%" height="350px" alt="Five slide">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <h6 style="padding:10px; font-weight: 700;"> Mức giá </h6>
        <form action="/action_page.php" style="padding-left:14px;">
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> Dưới 5 triệu </label><br>
            <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
            <label for="vehicle2"> Từ 5 - 10 triệu </label><br>
            <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
            <label for="vehicle3"> Từ 10 - 30 triệu </label><br>
            <input type="checkbox" id="vehicle4" name="vehicle4" value="Boat">
            <label for="vehicle3"> Từ 30 - 100 triệu </label><br>
        </form>
    </div>
    <div class="col-lg-10">
        <div class="container">
            <div>
                <p style="font-weight:bolder;font-size:18px ">
                    <marquee direction="right">SẢN PHẨM HOT </marquee>
                </p>
            </div>
            <div class="row">
                @if (Model != null)
                {
                    foreach (SanPham sp in Model)
                    {
                        <div class="col-md-3 col-sm-4 col-6" id="products" style="text-align:center;  margin-bottom:10px;">
                            <div class="item-product">
                                <div class="hinhanhsanpham">
                                    <a href="@Url.Action("Details", "SanPham", new { id = sp.MaSP })"><img src="~/Content/image/@sp.HinhAnh" style="max-height:200px" width="200px" /></a>
                                </div>
                                <div class="tensanpham">
                                    <h5><a class="text-name-product" href="@Url.Action("Details", "SanPham", new { id = sp.MaSP })">@sp.TenSP</a></h5>
                                </div>
                                <div class="giasanpham">
                                    <h5>@string.Format("{0:N0}", sp.GiaBan) VNĐ</h5>
                                </div>
                                <div class="review">
                                    <i class="fa fa-star" style="color:#FFC120;"></i>
                                    <i class="fa fa-star" style="color:#FFC120;"></i>
                                    <i class="fa fa-star" style="color:#FFC120;"></i>
                                    <i class="fa fa-star" style="color:#FFC120;"></i>
                                    <i class="fa fa-star"></i>
                                    <p>15 Reviews</p>
                                </div>
                                <div class="datmua" style="padding-top:5px">
                                    <a href="@Url.Action("ThemGioHang", "GioHang", new {@sMaSanPham = sp.MaSP,@strURL=Request.Url.ToString()})" onclick="return alert('Thêm sản phẩm vào giỏ hàng thành công.')">
                                        <button type="button" class="btn btn-danger" style="width:150px">
                                            <i class="fa fa-shopping-cart"> ĐẶT MUA </i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</div>



