
@{
    ViewBag.Title = "DeleteNV";
    Layout = "~/Views/Shared/QuanLy.cshtml";
}
<div class="container">
    <table class="table table-bordered" style="text-align:center;">
        <tr>
            <td scope="col" style="width:25%;">Mã Nhân Viên</td>
            <td scope="col">@Html.Encode(Model.MaNV)</td>

        </tr>
        <tr>
            <td scope="col" style="width:25%;">Họ Tên </td>
            <td scope="col">@Model.TenNV</td>
        </tr>
        <tr>
            <td scope="col" style="width:25%;">Giới Tính</td>
            <td scope="col">@Model.GioiTinhNV</td>

        </tr>
        <tr>
            <td scope="row" style="width:25%;">Ngày Sinh</td>
            <td>@Model.NgaySinhNV</td></td>

        </tr>
        <tr>
            <td scope="row" style="width:25%;">Số Điện Thoại</td>
            <td colspan="2">@Model.SDTNV</td>

        </tr>
        <tr>
            <td scope="row" style="width:25%;">Email</td>
            <td colspan="2">@Model.EmailNV</td>

        </tr>
        <tr>
            <td scope="row" style="width:25%;">Địa Chỉ</td>
            <td>@Model.DiaChiNV</td>

        </tr>
    </table>
    @using (Html.BeginForm())
    {
        <p style="text-align:center">
            <input type="submit" value="Xoá" class="btn btn-secondary" />
            @Html.ActionLink("Quay Lại.", "NhanVien", "Admin", null, new { @class = "btn btn-secondary" })
        </p>
    }
</div>




