@using Web_FPT.Models
@model List<NhanVien>
@{
    ViewBag.Title = "NhanVien";
    Layout = "~/Views/Shared/QuanLy.cshtml";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th style="text-align:center;">Mã Nhân Viên</th>
                <th style="text-align:center;"> Tên Nhân Viên</th>
                <th style="text-align:center;">Giới Tính</th>
                <th style="text-align:center;">Ngày Sinh</th>
                <th style="text-align:center;">Số Điện Thoại</th>
                <th style="text-align:center;">Email</th>
                <th style="text-align:center;">Địa Chỉ</th>
                <th style="text-align:center;"></th>
                <th style="text-align:center;"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (NhanVien item in Model)
                {
                    String temp = Convert.ToString(@item.GioiTinhNV);
                    <tr>
                        <td style="text-align:center">@item.MaNV</td>
                        <td style="text-align:center">@item.TenNV</td>

                        <td style="text-align:center">
                            @if (temp == "True")
                            {
                                temp = "Nam";
                            }
                            else
                            {
                                temp = "Nữ";
                            }
                            @temp
                        </td>
                        <td style="text-align:center">@Convert.ToDateTime(item.NgaySinhNV).Day/@Convert.ToDateTime(item.NgaySinhNV).Month/@Convert.ToDateTime(item.NgaySinhNV).Year </td>
                        <td style="text-align:center">@item.SDTNV</td>
                        <td style="text-align:center">@item.EmailNV</td>
                        <td style="text-align:center">@item.DiaChiNV</td>
                        @*<td><button type="button" class="btn btn-info">Sửa</button></td>
                        <td><button type="button" class="btn btn-info">Xóa</button></td>*@
                        <td>@Html.ActionLink("Sửa", "Sua_NV", "Admin", new { manv = @item.MaNV }, new { @class = "btn btn-info" })</td>
                        <td>@Html.ActionLink("Xóa", "DeleteNV", "Admin", new { manv = @item.MaNV }, new { @class = "btn btn-info" })</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


