@using Web_FPT.Models
@model List<NhomSanPham>
@{
    ViewBag.Title = "NhomSP";
    Layout = "~/Views/Shared/QuanLy.cshtml";
}
<div class="header-content1">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav w-100">
                    @using (Html.BeginForm("Admin", "Admin", FormMethod.Get, new { @class = "form-search form-inline my-1 my-lg-0 w-100 mr-5" }))
                    {
                        <input class="form-control" type="search" id="inputSearch" name="id" placeholder="Tìm kiếm tên sản phẩm" aria-label="search" onkeyup="fnSearch(this)" style="width:30%" />
                        <button type="submit" aria-label="Tìm Kiếm" class="btn btn-primary" title="Tìm kiếm" style="width:55px;height:38px;text-align:center;background-color:black;border:1px solid black;">
                            <i class="fas fa-search"></i>
                        </button>
                    }
                </ul>
            </div>
            <div style="padding-left: 20px">
                <button type="button" class="btn btn-info" onclick="document.getElementById('themsp').style.display='block'" style="width:auto;">Thêm</button>

                <div id="themsp" class="modal">

                    <form class="modal-content animate" action="/action_page.php" method="post">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('themsp').style.display='none'" class="close" title="Close Modal">&times;</span>

                        </div>

                        <div class="container">
                            <label for="Masp"><b>Mã Nhóm Sản Phẩm</b></label>
                            <input type="text" placeholder="Nhập mã nhóm sản phẩm" name="mansp" required>
                            
                            <label for="Loaike"><b>Tên Nhóm Sản Phẩm</b></label>
                            <input type="text" placeholder="Tên nhóm sản phẩm" name="tennsp" required>
                            <button type="submit">Thêm</button>
                        </div>

                        <div class="container" style="background-color:#f1f1f1">
                            <button type="button" onclick="document.getElementById('themsp').style.display='none'" class="cancelbtn">Trở về</button>
                        </div>
                    </form>
                </div>


            </div>
        </nav>
    </div>
</div>
<div class="container">
    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: black;
                color: white;
            }
    </style>
    <table id="customers" class="table">
        <tr>
            <th style="width: 10%; text-align:center;">Mã Nhóm Sản Phẩm</th>

            <th style="width: 10%; text-align:center;">Tên Nhóm Sản Phẩm</th>
            <th style="width: 10%; text-align:center;">Sửa</th>

            <th style="width: 10%; text-align:center;">Xóa</th>
        </tr>
        <tbody>
            @if (Model != null)
            {
                foreach (NhomSanPham item in Model)
                {
                    <tr>
                        <td style="text-align:center; border: 1px solid #ddd; padding: 8px; border: 1px solid #ddd;">@item.MaNhomSP</td>
                        <td style="text-align:center; border: 1px solid #ddd; padding: 8px; border: 1px solid #ddd;">@item.TenNSP</td>
                        <td>@Html.ActionLink("Sửa", "SuaNhomSP", "Admin", new { mansp = @item.MaNhomSP }, new { @class = "btn btn-info" })</td>
                        <td>@Html.ActionLink("Xóa", "DeleteNhomSP", "Admin", new { mansp = @item.MaNhomSP }, new { @class = "btn btn-info" })</td>
                    </tr>
                }
            }

        </tbody>

    </table>
</div>