<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>FPTSHOP</title>
    @using Web_FPT.Models;
    @using Web_FPT.Controllers;
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="~/Content/CSS/css.css" rel="stylesheet" />
    <link href="~/Content/CSS/css2.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/6b02239e17.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header-content">
                <div class="menu">
                    <div class="container">
                        <div class="row">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <a class="navbar-brand" href="#">
                                    <img src="~/Content/Img_Show/QC.PNG/logo.png" style="max-height:80px;" width="200px" />
                                </a>
                                <div class="collapse navbar-collapse" id="myNavbar">
                                    <ul class="navbar-nav mr-auto">
                                        @using (Html.BeginForm("TimKiem", "TimKiem", FormMethod.Get, new { @class = "form-inline my-1 my-lg-0" }))
                                        {
                                            <input class="form-control" type="search" id="id" name="id" placeholder="Tìm kiếm tên sản phẩm" aria-label="search" style="width:400px;">
                                            <button type="submit" aria-label="Tìm Kiếm" class="btn btn-primary" title="Tìm kiếm" style="width:55px;height:40px;text-align:center;background-color:black;border:1px solid black;">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        }
                                    </ul>
                                </div>
                                <div class="menu-item">
                                    <i style="color:white;" class="fa fa-store"></i>
                                    <a style="color:white;" href="#">Hệ thống cửa hàng</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-shipping-fast" style="color:white;"></i>
                                    <a href="#" style="color:white;">Giao hàng nhanh</a>
                                </div>
                                <div style="padding-left: 20px">
                                    <a href="@Url.Action("GioHang", "GioHang")" style="color:#f4f8fb;">
                                        @{List<GioHang> gh = Session["GioHang"] as List<GioHang>;
                                            int sl = 0;
                                            if (gh != null)
                                            {
                                                sl = gh.Sum(n => n.soluongSP);
                                            }
                                        }
                                        <i class="fa fa-shopping-cart"> (@sl)</i>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            @* MENU con *@
            <div class="header-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div>
                                <i style="color:#fff;font-size:18px;padding-left:35px" class="fa fa-home"></i>
                                <a style="color:#fff;">@Html.ActionLink("TRANG CHỦ", "Index", "Home")</a>
                                <i style="color:#fff;padding-left:35px" class="far fa-newspaper"></i>
                                <a style="color:#fff;">@Html.ActionLink("GIỚI THIỆU", "SanPhamHot", "Home")</a>
                                <i style="color:#fff;font-size:18px;padding-left:35px" class="fas fa-mobile-alt"></i>
                                <a style="color:#fff;">@Html.ActionLink("ĐIỆN THOẠI", "SanPhamDienThoai", "SanPham")</a>
                                <i style="color:#fff;font-size:18px;padding-left:35px" class="fas fa-laptop"></i>
                                <a style="color:#fff;">@Html.ActionLink("LAPTOP", "SanPhamLapTop", "SanPham")</a>
                                <i style="color:#fff;font-size:18px;padding-left:35px" class="far fa-clock"></i>
                                <a style="color:#fff;">@Html.ActionLink("ĐỒNG HỒ", "SanPhamDongHo", "SanPham")</a>
                                <i style="color:#fff;font-size:18px;padding-left:35px" class="fas fa-tablet-alt"></i>
                                <a style="color:#fff;">@Html.ActionLink("TABLET", "SanPhamTabLet", "SanPham") </a>
                                <i style="color:#fff;font-size:18px;padding-left:35px" class="fas fa-headphones-alt"></i>
                                <a style="color:#fff;">@Html.ActionLink("PHỤ KIỆN", "SanPhamPhuKien", "SanPham")</a>
                                <i style="color:#fff;font-size:18px;padding-left:35px" class="fas fa-headphones-alt"></i>
                                <a style="color:#fff;">@Html.ActionLink("KHUYẾN MÃI", "SanPhamPhuKien", "SanPham")</a>
                                <i style="color:#fff;font-size:18px;padding-left:35px" class="fas fa-headphones-alt"></i>
                                <a style="color:#fff;">@Html.ActionLink("TRẢ GÓP", "TraGopSP", "TraGop")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="main-wrapper">
                @RenderBody()
            </div>
        </main>
        <!------- START FOOTER ---------->
        <footer>
            <div class="footer-wrapper">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.057699322254!2d106.62641391476423!3d10.806892892300864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be287a42a77%3A0xe2a986cb8920141c!2zMTQwIEzDqiBUcuG7jW5nIFThuqVuLCBQaMaw4budbmcgMTUsIFTDom4gUGjDuiwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1570424971072!5m2!1svi!2s" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                            <div class="col-md-3  ">
                                <h2>Hỗ trợ</h2>
                                <ul>
                                    <li><a href="#">Chính sách đổi - trả </a></li>
                                    <li><a href="#">Chính sách trả góp</a></li>
                                    <li><a href="#">Phương thức vận chuyển</a></li>
                                    <li><a href="#">Phương thức thanh toán</a></li>

                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 segmenS-three sm-mb-30">
                                <h2>Theo dõi chúng tôi</h2>
                                <p>Vui lòng theo dõi chúng tôi trên Mạng Xã Hội để biết những thông tin cập nhật mới nhất.</p>
                                <a href="https://www.facebook.com/aquariusdat" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/deophaidatdau__/" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12 segment-four sm-mb-30">
                                <h2>Liên hệ</h2>
                                <div class="row">
                                    <i class="fa fa-map-marker-alt"> Địa chỉ: 131 Võ Công Tồn, Thị Trấn Bến Lức, Huyện Bến Lức, Tỉnh Long An</i>
                                </div>
                                <div class="row">
                                    <i class="fa fa-envelope"> Mail: fptshop@fpt.com.vn</i>
                                </div>
                                <div class="row">
                                    <i class="fa fa-phone"> Phone: 18006601</i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <p class="footer-bottom-text">
                    © 2007 - 2020 Công Ty Cổ Phần Bán Lẻ Kỹ Thuật Số FPT / Địa chỉ: 261 - 263 Khánh Hội, P5, Q4, TP. Hồ Chí Minh / GPĐKKD số 0311609355 do Sở KHĐT TP.HCM cấp ngày 08/03/2012.
                    GP số 47/GP-TTĐT do sở TTTT TP HCM cấp ngày 02/07/2018. Điện thoại: (028)73023456. Email: fptshop@fpt.com.vn.
                    Chịu trách nhiệm nội dung: Nguyễn Trịnh Nhật Linh.
                </p>
            </div>
        </footer>
        <!------- END FOOTER ---------->
    </div>

    @*@*@*
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>*@*@*@
</body>
</html>
